@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@300;400;500;600;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100&family=Readex+Pro:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200&family=Readex+Pro:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300&family=Readex+Pro:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400&family=Readex+Pro:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500&family=Readex+Pro:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&family=Readex+Pro:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&family=Readex+Pro:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&family=Readex+Pro:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Readex+Pro:wght@300;400;500;600;700&display=swap');

.wrapper {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;

}

.footer,
.container_main,
.container_header {
    max-width: 1294px;
    width: 100%;
    margin: 0 auto;
}

.block_left_header_h1 {
    text-align: left;
    font-weight: 400;
    font-size: 52px;
}

.block_header_main_h1 {
    font-family: 'Readex Pro';
    font-weight: 400;
    font-size: 42px;
    margin: 75px 0px 9px 0px;
}

.block_left_header_p {
    margin: 19px 0px 30px 0px;
}

.nav_menu {
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center;
}

.left_header {
    display: flex;

}

.right_header {
    display: flex;
}

/* .arrow_left{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}
.arrow_right{
    display: flex;
    align-items: center;
} */
.main_header {
    margin: 0px 20px 0px 20px;
    padding-left: 20px;
    display: flex;
    justify-content: space-between;
    background: url("../img/fone.png") center;
    background-size: cover;
    border-radius: 32px;
}

.info_left_header {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.nav_links {
    max-width: 478px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.arrow_right,
.arrow_left {
    margin-right: 30px;
    margin-left: 30px;
}

.nav_other img {
    padding-right: 10px;
}

.info_left_header h1 {
    font-family: 'Readex Pro';
}

.info_left_header p {
    font-family: 'Inter';
}

.info_left_header button {
    width: 170px;
    height: 50px;
    border: 1px solid black;
    border-radius: 200px;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    -ms-border-radius: 200px;
    -o-border-radius: 200px;
}

.container_block {
    font-family: 'Readex Pro';
    display: flex;
    justify-content: space-between;
}

.top_block {
    width: 639px;
    height: 472px;
    background-color: white;
}

.down_block {
    margin-top: 72px;
    display: flex;
    width: 639px;
    height: 270px;
    background-color: white;
}

.top_block:hover,
.down_block:hover,
.left_block:hover,
.right_block:hover {
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
    transform: scale(1.1);
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

.top_block,
.down_block,
.left_block,
.right_block {
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
}

.flex_text {
    display: flex;
    flex-direction: column;
    margin-top: 64px;
    margin-left: 90px;
}

.flex_text p {
    text-align: right;
}

.flex_text_h1 {
    margin-top: 0px;
    font-family: 'Readex Pro';
    font-weight: 400;
    font-size: 32px;
}

.main_container_right {
    display: flex;
    justify-content: space-between;
    max-width: 640px;
    width: 100%;
}

.left_block {

    max-width: 312px;
    height: 792px;
    width: 100%;
    background-color: white;
}

.left_block img {
    padding-top: 144px;
    padding-left: 16px;
}

.left_block p {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 12px;
    text-align: center;
    color: #000000;
    font-family: 'Inter';
    font-size: 15px;

}

.left_block h1 {
    font-family: 'Readex Pro';
    font-size: 32px;
    text-align: center;
}

.right_block {

    max-width: 312px;
    height: 792px;
    max-width: 100%;
    background-color: white;
}

.right_block p {
    margin-top: 100px;
    text-align: center;
}

.block_header_main {
    text-align: center;
}

.block_header_main h1 {
    font-family: 'Readex Pro';
    font-weight: 400;
    font-size: 42px;
}

.block_header_main p {
    font-family: 'Readex Pro';
    font-weight: 400;
    font-size: 14px;
}

.right_block h1 {
    text-align: center;
}

.top_block {}

.text_top_block {
    text-align: right;
    position: relative;
    bottom: 40px;
    right: 40px;
}

.text_top_block_h1 {
    text-align: right;
}

.top_block img {
    padding: 0px 97px 0px 42px;
}

.product_container_info {
    display: flex;
    justify-content: space-between;
}

.product_group {
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
    border-radius: 32px;
    max-width: 302px;
    width: 100%;
}

.product_group_h1 {
    text-align: center;
    font-size: 22px;
}

.product_group_p {
    font-size: 14px;
}

.price p {
    font-size: 18px;
}

.product_group img {
    padding: 28px 28px 28px 28px;
}

.product_container_h1 {
    text-align: center;
    font-family: 'Readex Pro';
    font-weight: 400;
    font-size: 42px;
    margin-top: 78px;
}

.product_container p {
    font-family: 'Readex Pro';
    font-weight: 400;
    font-size: 13px;
    text-align: center;
}

.info_container {}

.info_container_h1 {
    font-family: 'Readex Pro';
    font-weight: 400;
    font-size: 42px;
    text-align: center;
    margin-top: 74px;
}

.info_container_p {
    font-family: 'Readex Pro';
    font-weight: 400;
    font-size: 13px;
    text-align: center;
    margin-bottom: 56px;
}

.groups_info_container {
    display: flex;
    justify-content: space-between;

}

.group {
    box-shadow: 0 0 10px 5px rgba(221, 221, 221, 1);
    max-width: 413px;
    width: 100%;
    background: #F8F9FA;
    border-radius: 16px;
}

.button_group_info {
    margin: 30px 0px 30px 0px;
    text-align: center;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;
}

.group button {
    width: 190px;
    height: 50px;
    border: 1px solid black;
    border-radius: 200px;
    -webkit-border-radius: 200px;
    -moz-border-radius: 200px;
    -ms-border-radius: 200px;
    -o-border-radius: 200px;
}

.group_p {
    margin-top: 41px;
    font-family: 'Readex Pro';
    font-weight: 400;
    font-size: 13px;
    text-align: center;
}

.group_h1 {
    font-family: 'Readex Pro';
    font-weight: 400;
    font-size: 28px;
    text-align: center;
}

.group_img {
    text-align: center;
}

.info_images_text_container_h1 {
    font-family: 'Readex Pro';
    font-weight: 400;
    font-size: 42px;
    text-align: center;
    margin-top: 47px;
}

.info_images_text_container_p {
    font-family: 'Readex Pro';
    font-weight: 400;
    font-size: 13px;
    text-align: center;
    margin-bottom: 56px;
}

.images_text_block_four_p {
    font-family: 'Inter';
    font-weight: 400;
    line-height: 30px;
    font-size: 24px;
}

.block_info_images_text_container {
    display: flex;
    justify-content: space-between;
}

.container_before_footer_h1 {
    margin-bottom: 24px;
    font-family: 'Readex Pro';
    font-weight: 400;
    font-size: 42px;
    text-align: center;
}

.See_all {
    margin: 73px 0px 75px 0px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 24px;
    text-transform: capitalize;
    text-align: center;
}

.form_search {
    text-align: center;
}

.input_search {
    padding-left: 64px;
    background-image: url(../img/ЛУПА.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 8%;
    margin: 0 auto;
    width: 650px;
    height: 60px;
    background: #F8F9FA;
    border: 1px solid #C5C5C5;
    border-radius: 100px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    -ms-border-radius: 40px;
    -o-border-radius: 40px;
}

.container_pagination {}

.container_pagination_top {
    margin: 0 auto;
    max-width: 535px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    -webkit-border-radius: ;
    -moz-border-radius: ;
    -ms-border-radius: ;
    -o-border-radius: ;
}

.container_pagination_down {
    margin: 0 auto;
    max-width: 428px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.pagination_text {
    border: 1px solid #C5C5C5;
    border-radius: 200px;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 14px;
    padding: 12px 22px 13px 22px;
}

.content {
    margin: 0 auto;
    max-width: 935px;
    width: 100%;
    height: 450px;
    background: #DCE5E2;
    border-radius: 16px;
}

.content_h1 {
    text-align: center;
    font-family: 'Readex Pro';
    font-weight: 400;
    font-size: 42px;
    padding-top: 47px;
}

.content_p {
    text-align: center;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
}

.content img {
    margin: 0 auto;
    display: block;
}

.form_container {
    display: flex;
    justify-content: center;
    height: 50px;
}

.form_btn {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 43px;
    display: flex;
}

.search_login {
    height: 50px;
    width: 285px;
    background: #DCE5E2;
    border: 1px solid #000000;
    border-radius: 54px 0px 0px 54px;
}

.btn_signup {
    height: 54px;
    width: 115px;
    padding: 0;
    cursor: pointer;
    background: #000000;
    border-radius: 0px 200px 200px 0px;
    color: white;
}

.footer {
    margin: 0 auto;
    background: #F8F9FA;
    margin-top: 19px;
}

.container_section {
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
}

.link_p {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 17px;
}

.link_h1 {
    font-family: 'Readex Pro';
    font-weight: 400;
    font-size: 22px;
}

.wiget {
    width: 100%;
    margin: 0 auto;
    height: 2px;
    background: #DCE5E2;
}

.aside_container {
    display: flex;
    justify-content: space-between;
}

.aside_container p {
    font-family: 'Readex Pro';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}

.aside_container span {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 18px;

}

.link_p {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

@media (max-width: 1024px) {
    .main_header {
        height: 321px;
    }

    .info_right_header {
        display: none;
    }

    .nav_other,
    .nav_links {
        display: none;
    }

    .nav_menu {
        margin-left: 20px;
    }

    .container_block {
        margin-top: 50px;
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
    }

    .main_container_right {
        display: block;
    }

    .left_block {
        margin-top: 10px;
        height: 380px;
        max-width: 638px;
        width: 100%;
        display: flex;
    }

    .left_block img {
        padding: 0px;
        order: 2;
        margin-left: auto;
    }

    .right_block {
        display: none;
    }

    .down_block {
        margin-top: 10px;
    }

    .left_block_info_text {
        margin-top: 70px;
        margin-left: 40px;
    }

    .left_block_info_text_h1 {
        font-family: 'Readex Pro';
        font-weight: 400;
        font-size: 32px;
    }

    .left_block_info_text_p {
        font-family: 'Inter';
        font-weight: 400;
        font-size: 15px;
    }

    .product_container_info {
        max-width: 630px;
        width: 100%;
        margin: 0 auto;
        flex-wrap: wrap;
    }

    .groups_info_container {
        flex-wrap: wrap;
        max-width: 665px;
        width: 100%;
        margin: 0 auto;
    }

    .group {
        max-width: 310px;
        width: 100%;
    }
    .group_3{
        margin-left: auto;
        margin-right: auto;
        margin-top: 40px;
    }
    .info_container_p {
        font-size: 13px;
        margin-bottom: 15px;
    }
    .info_container_p,
    .product_container p {
        font-size: 12px;
    }
    .group_img_3{
        width: 260px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 50px;
    }
    .product_group {
        margin-top: 20px;
    }

    .block_info_images_text_container {
        flex-wrap: wrap;
        display: flex;
        justify-content: center;
    }

    .content {
        max-width: 690px;
        width: 100%;
    }

    .form_search form {
        max-width: 718px;
        width: 100%;
        margin: 0 auto;
    }
    .section:nth-child(3) {
        display: none;
    }
    .aside_container,
    .container_section {
        max-width: 673px;
        width: 100%;
        margin: 0 auto;
    }
    .wiget {
        margin-bottom: 20px;
        margin-top: 20px;
    }
    .input_search{
        width: 300px;
    }
}
@media (max-width: 425px){
    .content {
        max-width: 333px;
    }
    .content_h1 {
        margin-top: 20px;
        font-size: 33px;
        padding-top: 33px;
    }
    .container_pagination{
        display: none;
    }
    .info_images_text_container_h1,
    .block_header_main p{
        font-size: 10px;
    }
    .container_before_footer_h1,
    .block_left_header_h1,
    .block_header_main h1,
    .product_container_h1,
    .info_container_h1,
    .info_images_text_container_h1{
        font-size: 30px;
    }
    .block_info_images_text_container img{
        width: 275px;
    }
    .See_all{
        margin: 20px 0px 20px 0px;
    }
    .flex_text {
        display: flex;
        z-index: 1;
        flex-direction: column;
        margin-top: 0px;
        margin-left: 0px;
        justify-content: flex-end;
    }
    .left_block{
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
        width: 332px;
    }
    .top_block {
        width: 332px;
        margin: 0 auto;
        height: 279px;
    }
    .top_block img {
        width: 260px;
        padding: 0px 0px 0px 0px;
        height: 178px;
    }
    .down_block {
        width: 332px;
        margin-top: 20px;
        margin-left: auto;
        margin-right: auto;
    }
     .down_block img {
        z-index: 0;
        position: absolute;
        width: 324px;
        height: 270px;
        background-size: cover;
    }
    .top_block img {
        width: 260px;
        padding: 0px 0px 0px 0px;
        height: 178px;
        margin: 0 auto;
    } 
    .left_block_info_text {
        margin-top: 0px;
        margin-left: 0px;
        position: absolute;
    }
    .left_block img {
        padding: 0px;
        margin-left: auto;
        width: 256px;
        height: 350px;
        margin-top: auto;
    }
    .product_group {
        margin-left: auto;
        margin-right: auto;
    }
    .group {
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
    }
    .search_login {
        width: 160px;
}
.input_search{
    width: 250px;
}
.container_section {
    max-width: 340px;
    width: 100%;
    margin: 0 auto;
}
.section:nth-child(2),
.section:nth-child(3),
.section:nth-child(5){
display: none;
}
}