body {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(rgba(0, 10, 20, 0.8), rgba(0, 10, 20, 0.8)),
        repeating-linear-gradient(90deg, rgba(255, 255, 255, 0.05) 0px, rgba(255, 255, 255, 0.05) 10px, transparent 10px, transparent 20px);
    background-color: #00121e;
    overflow-x: hidden;
}

.wrapper {
    max-width: 1250px;
    margin: 0 auto;
    padding: 0px 20px;
    /* cursor: url('../../img/icon/cursor.cur') 16 16, auto !important; */
}

nav {
    display: flex;
    align-items: center;
    margin-top: 20px;
    justify-content: space-between;

}

nav img {
    margin-right: 20px;
}

.nav_info {
    display: flex;
    align-items: center;

}

.nav_info ul {
    display: flex;
    align-items: center;
    gap: 26px;
    margin-right: 26px;
}

nav ul li {
    font-weight: 500;
    font-size: 13px;
}

.btn_login {
    display: flex;
    align-items: center;
    gap: 2.5px;
    padding: 8px 23px 8px 26px;
    border-radius: 10px;
    transition: 0.3s;
    background: linear-gradient(90deg, #2C90F7 0%, #05C0CC 100%);
}

.btn_login:hover {
    border-radius: 15px;
    background: linear-gradient(90deg, #2C90F7 0%, #4ee8f3 100%);
}

.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-top: 20px;
}

.btc_header {
    position: absolute;
    top: 0;
    left: -30%;
}

.header_right {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    aspect-ratio: 3.8 / 2.4;
    background: url(/img/others/Frame_world.svg) no-repeat;
    background-size: 87%;
    background-position: 100% center;
    z-index: -1;
    width: 60%;

}

.sircle_header_right {
    position: absolute;
    width: 100%;
    top: 0;
}

.header_left {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: space-around;
    width: 37%;
    margin-top: 5vw;
}

.header_left img {
    position: absolute;
    max-width: 80px;
    max-height: 90px;
}

.header_left_frame1 {
    bottom: 10%;
    right: -4%;
}

.header_left_frame2 {
    bottom: -10%;
    right: 7%;
}

.header_left h1 {
    font-size: clamp(25px, 3vw, 40px);
    line-height: 1.2;
    font-weight: bold;
}

.header_left p {
    font-size: clamp(13px, 3vw, 15px);
    margin: 3vw 0px 3vw 0px;
    line-height: 1.5;
}

.header_left .create_accaunt_btn {
    font-size: 15px;
    max-width: 212px;
    padding: 12px 0px;
    text-align: center;
    border-radius: 15px;
    transition: 0.3s;
    background: linear-gradient(90deg, #2C90F7 0%, #05C0CC 100%);
}

.header_left .create_accaunt_btn:hover {
    border-radius: 20px;
}

.img_header_cards {
    display: flex;
    gap: clamp(20px, 3vw, 55px);
    position: relative;
}

.img_header_cards img {
    z-index: 5;
    width: 27vw;
    animation: floatUpDown 1s ease-in-out infinite alternate;
}

.man_header {
    position: absolute;
    top: 55%;
    left: 30%;
    z-index: 5;
    width: clamp(130px, 13vw, 192px);
    /* анимация */
    animation: floatUpDown 1s ease-in-out infinite alternate;

}

.sircle_left_img_header_cards {
    background-color: #05C0CC;
    border-radius: 100%;
    width: 6vw;
    z-index: -1;
    max-width: 107px;
    max-height: 107px;
    left: -2%;
    top: -15%;
    height: 6vw;
    position: absolute;
    mix-blend-mode: screen;
    filter: blur(5px);
}

.sircle_right_img_header_cards {
    background-color: #FC4C4F;
    border-radius: 100%;
    width: 5vw;
    z-index: -1;
    max-width: 77px;
    max-height: 77px;
    right: -2%;
    bottom: 0;
    height: 5vw;
    position: absolute;
    mix-blend-mode: screen;
    filter: blur(3px);
}

.sircle_bottom_left_img_header_cards {
    background-color: #7311C6;
    border-radius: 100%;
    width: 5vw;
    z-index: -1;
    max-width: 77px;
    max-height: 77px;
    left: 3%;
    bottom: -7%;
    height: 5vw;
    position: absolute;
    mix-blend-mode: screen;
    filter: blur(2px);
}

.burger_btn {
    position: relative;
    margin-right: 52vw;
    border-radius: 5px;
    width: 30px;
    height: 3px;
    display: none;
    background-color: white;
}

.burger_btn span::after {
    content: '';
    position: absolute;
    top: -8px;
    display: block;
    transition: 0.9s ease-in-out;
    width: 35px;
    border-radius: 5px;
    height: 3px;
    background-color: white;
}

.burger_btn span::before {
    border-radius: 5px;
    content: '';
    position: absolute;
    top: 8px;
    display: block;
    width: 22px;
    height: 3px;
    transition: 0.9s ease-in-out;
    background-color: white;
}

.cont_burger_bth h2 {
    display: none;
}

section {
    padding-bottom: 100px;
    padding-top: 100px;
    position: relative;
    border-radius: 20px;
    backdrop-filter: blur(10px);
    z-index: 10;
    box-shadow: inset 0px 1px 2px rgba(239, 232, 232, 0.6);
}

.passive-income {
    margin-top: 122px;
    background: rgba(221, 0, 255, 0.075);
}

.public-trading {
    margin-top: 134px;
    background: rgba(100, 75, 214, 0.075);
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0px 20px;
}

.container-1150 {
    max-width: 1150px;
    margin: 0 auto;
}

.container-1150 p {
    text-align: center;
}

.info-block {
    display: flex;
    justify-content: space-between;
    margin-top: 83px;
    align-items: center;
    gap: clamp(30px, 4vw, 110px);
    position: relative;
}

.head-pos {
    position: absolute;
    left: -50%;

}

.sircle {
    position: absolute;
    border-radius: 50px;
    filter: blur(25px);
}

.sircle-violet {
    right: 0;
    top: 0;
    width: 77px;
    height: 77px;
    background-color: violet;
}

.sircle-big-violet {
    right: 0;
    left: 0;
    margin: 0 auto;
    top: 0;
    width: 250px;
    height: 250px;
    background-color: violet;
    filter: blur(300px);
}

.sircle-red {
    left: 0;
    top: 25%;
    width: 77px;
    height: 77px;
    background-color: red;
}

.sircle-blue {
    left: -10%;
    top: 10%;
    width: 100px;
    height: 100px;
    background-color: #2C90F7;
}

.main-btc {
    position: absolute;
    right: -50%;
    top: -35%;
}

.all-instruction-block {
    position: relative;
}

.info-block p {
    line-height: 27.2px;
}

.instruction-block {
    margin-top: 80px;
    text-align: center;
}

.instruction-block h3 {
    text-align: center;
}

.instruction-items {
    display: flex;
    position: relative;
    gap: 58px;
    justify-content: space-between;
}

.instruction-element {
    text-align: center;
    background: #09132F99;
    border-radius: 20px;
    padding: 32px 19px;
    flex: 1 38%;
    position: relative;
}

.instruction-element::before {
    position: absolute;
    content: '>';
    right: -15%;
    top: 45%;
    color: white;
    font-size: 50px;
}

.instruction-element:last-child:before {
    display: none;
}

.all-instruction-block {
    margin-top: 80px;
}

.instruction-element span {
    font-size: var(--font-size-span);
    text-align: center;
    font-weight: var(--font-weight-span);
    line-height: 19.6px;
}

.all-instruction-block video {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    margin-top: 62px;
}

.telegram-trading {
    margin-top: 61px;
}

.telegram-trading-img {
    max-width: 440px;
}

.telegram-trading {
    display: flex;
    align-items: flex-start;
    gap: 52px;
}

.telegram-trading-info-flex {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}

.telegram-trading-info-flex div {
    background: #1F2C3D;
}

.telegram-trading-info-flex div::before {
    display: none;
}

.register {
    font-weight: 500;
    font-size: 15px;
    line-height: 25.1px;
    max-width: 365px;
    background: linear-gradient(4.19deg, #2C90F7 -17.59%, #05C0CC 115.3%);
    border-radius: 15px;
    margin: 50px auto;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    background: #171B2D;
}

.container-footer {
    max-width: 1250px;
    margin: 0 auto;
    padding: 75px 20px;
}

.footer-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.footer-content-top-bottom,
.footer-content-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-content-text {
    display: flex;
    gap: 40px;
}

@media(max-width:1000px) {

    .footer-content-top-bottom,
    .footer-content-top {
        display: flex;
        gap: 20px;
        justify-content: space-between;
        align-items: flex-start;
        flex-direction: column;
    }

    .footer-content-text {
        gap: 10px;
    }

    .telegram-trading {
        align-items: center;
    }

    .telegram-trading {
        flex-direction: column;
    }

    .info-block-img img {
        max-width: 200px;
    }

    .cont_burger_bth_h2 {
        font-size: 20px;
    }

    .nav_info ul li {
        font-size: 18px !important;
        padding: 20px 0px;
        border-top: 1px solid white;

    }

    .nav_info ul li:last-child {
        border-bottom: 1px solid white;

    }

    .cont_burger_bth {
        display: flex;
        align-items: center;
        gap: 20px;
        z-index: 10;
        height: 100%;
    }

    .menu_text_active {
        display: block !important;
        position: absolute;
        left: 0;
        padding-left: 20px;
    }

    .nav_info ul {
        display: none;
        width: 40%;
        height: 100vh;
        background-color: black;
        margin-right: 0px;
        padding: 60px 20px;
    }

    .menu_burger_active ul {
        z-index: 5;
        position: absolute;
        display: block;
        left: 0;
        top: 0;

    }

    .burger_btn {
        display: block;
        transition: 0.6s ease-in-out;
    }

    .active_burger_btn {
        width: 17px;
    }

    .active_burger_btn span::after {
        width: 25px;

    }

    .active_burger_btn span::before {
        width: 7px;

    }

    header {
        margin-top: 0px;
    }

    .img_header_cards img {
        width: 23vw;
    }

    .header_right {
        width: 63%;
    }
}

@media(max-width:768px) {
    .footer-content-text {
        gap: 10px;
        flex-wrap: wrap;
    }


    .instruction-items {
        gap: 20px;
    }

    .instruction-element::before {
        display: none;
    }

    .instruction-items {
        flex-direction: column;
    }

    .info-block {
        flex-direction: column;
    }

    h3 {
        text-align: center;
    }

    h3::before {
        right: 0;
        margin: 0 auto;
    }

    .burger_btn {
        margin-right: 29vw;
    }

    .btc_header {
        display: none;
    }

    .container-header {
        flex-direction: column;
    }

    .create_accaunt_btn {
        margin: 0 auto;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 0px 0px !important;
    }

    .header_left {
        width: 100%;
        text-align: center;
    }
}

@media(max-width:530px) {
    .telegram-trading-img img {
        max-width: 350px;
    }

    .head-pos,
    .main-btc {
        display: none;
    }

    .nav_info ul {
        width: 60%;
    }

    .menu_text_active {
        top: 0px;
    }

    .menu_text_active {
        padding-left: 10px;
    }

    .burger_btn {
        margin-right: 6vw;
    }

    nav img {
        margin-right: 5px;
        max-width: 110px;
    }

    .btn_login {
        padding: 4px 13px 4px 13px;
    }

    .nav_info ul li {
        font-size: clamp(10px, 5vw, 18px) !important;
        padding: 10px 0px;
    }

    .nav_info ul {
        padding: 60px 10px;
    }
}
